@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama?styles=170364');
body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
  background-color: black;
}
.container{
  width: 80%;
  margin:0 auto;
}
.hide{
  display: none;
}
p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400px;
  line-height: 24px;
}
h2{
  font-size: 48px;
  font-weight: 900;
}
/* style-navber */
.nav-container{
  background-image: linear-gradient(to bottom, #1d1c1c, #201e1f, #222121, #252324, #272627, #252425, #232323, #212121, #1b1b1b, #141414, #0c0c0c, #000000);
  height: 70%;
}
.nav-ber{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.nav-ber-content{
  display: flex;
  gap: 50px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 100px;
  border: 2px solid rgb(255, 255, 255, 0.2) ;
}
.btn-home{
  background-color: rgb(230, 83, 60);
  width: 146px;
  height: 48px;
  margin: 2px 2px;
  border-radius: 42px ;
  font-size: 18px;
  font-weight: 600;
  color: white;
  border:none;
}
.nav-ber-content p{
  margin-right: 40px;
  color:rgb(255, 255, 255);
}
.logo{
  font-size: 36px;
  color: rgb(230, 83, 60);
}
.bar-icon{
  color: white;
  display: none;
}
#cricle i{
  display: none;
}
/* style-banner-section */
.banner-section{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.banner-container{
  margin-bottom: 80px;
}
.banner-container h2{
  font-size: 64px;
  line-height: 90px;
  height: 250px;
}
.miama{
  font-family: "Miama", sans-serif;
  font-weight: none;
}
.banner-container p{
  width: 80%;
}
.btn-primary{
  background-color: rgb(230, 83, 60);
  border-radius: 40px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400px;
  width: 40%;
  line-height: 40px;
  margin-top: 18px;
  border: none;
}
 #download{
  background-color: rgb(255, 255, 255, 0.01) ;
  border: 2px solid rgb(255, 255, 255, 0.3) ;
  margin-left: 10px;
 }
 .banner-image{
  background-image: url(../images/Images\ 2.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
 }
 .card-videos{
  background-color: rgba(255, 255, 255, 0.1) ;
  width: 25%;
  padding: 5px 20px;
  border-radius: 12px;
  margin-top: 130px;
  margin-left: 320px;
  backdrop-filter: blur(10px);
 }
 .card-videos h2{
  font-size: 24px;
  font-weight: 900px;
  margin: 10px auto;
  height: 20px;
 }
 .card-videos2 h2{
  font-size: 18px;
  font-weight: 900px;
  margin: 10px auto;
  height: 10px;
 }
 .card-videos p, .card-videos2 p{
  font-size: 12px;
 }
 .card-videos2{
  background-color: rgba(255, 255, 255, 0.1) ;
  max-width: 25%;
  padding: 0px 20px;
  border-radius: 12px;
  margin-top: 200px;
  display: flex;
  gap: 10px;
  align-items: center;
  backdrop-filter: blur(10px);
 }
 .card-videos2 h1{
  width: 28%;
  height:32px;
  border-radius:50%;
  background-color:rgb(230, 83, 60);
}
/* habits-section */
.habis-container{
  text-align: center;
  width: 100%;
  margin-top: 100px;
}
.habis-container h2{
  height: 40px;
}
.habis-container p{
  width: 50%;
  margin: 0 auto;
}
.habits-image{
  display: flex;
  justify-content: space-between;
  margin-top: 74px;
}
.habits-image img{
  border-radius: 50%;
  border: 4px solid rgb(34, 34, 34) ;
}
.image-content{
  width: 100%;
  line-height: 20px;
  text-align: center;
}
.image-content p{
  line-height: 18px;
}
/* run-easily-section */
.run-easily-section{
  display: flex;
  justify-content: space-between;
  background-color: rgb(34, 34, 34);
  padding: 30px;
  border-radius: 18px;
  margin-top: 100px;
}
.run-easily-container{
  margin-left: 30px;
}
.run-easily-container h2{
  margin: 20px 0px;
}
.run-easily-container p{
  width: 60%;
  
}
.run-easily-container button{
  width: 30%;
  
}
.run-easily-image img{
  width: 100%;
  height:350px;
  border-radius: 18px;
  Object-fit:none;
  Object-position: 66% 33%;
}
/* style-calculator-saction */
.calculater-container{
  margin-top: 100px;
  text-align: left;
  width: 40%;
}
.calculater-container h2{
  height: 40px;
}
.calculater-content{
  background-color: rgb(34, 34, 34);
  margin-top: 100px;
  max-width: 100%;
}
.calculater-info{
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.bmi-chart h2{
  font-size: 28px;
  margin: 50px auto;
}
table{
  border-collapse: collapse;
}
td, th{
  text-align: left;
  border: 2px solid rgba(255, 255, 255, 0.1);
  padding: 14px 20px;
  color: rgba(255, 255, 255, 0.5) ;
}
th{
  color: rgba(255, 255, 255, 5) ;
}
.calculate-bmi h2{
  height: 30px;
  font-size: 28px;
  margin-top: 50px;
}
.calculate-bmi p{
  width: 90%;
}
.calculate-bmi{
  width: 50%;
}
.input1{
  grid-area: input1;
}
.input2{
  grid-area: input2;
}
.input3{
  grid-area: input3;
}
.select1{
  grid-area: select1;
}
.select2{
  grid-area: select2;
}
.calculate-form{
  display: grid;
  grid-template-areas: 
  "input1 input2"
  "input3 select1"
  "select2 select2"
  ;
  gap: 15px;
  margin-top: 40px;
  width: 100%;
}
.calculate-form input{
  font-size: 18px;
  max-width: 100%;
  padding: 15px;
  border-radius: 12px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
}
.calculate-form select{
  font-size: 18px;
  max-width: 100%;
  color: rgba(255, 255, 255, 0.3);
  padding: 15px;
  border-radius: 12px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
}
.calculate-form button{
  width: 80%;
  margin-bottom: 50px;
}
/* our-team-section-style */
.our-team-container{
  text-align: center;
  width: 60%;
  margin: 100px auto;
}
.our-team-container h2{
  height: 40px;
}
.our-team-images{
  width: 97%;
  padding: 20px ;
  border-radius:12px ; 
  gap: 20px;
  background-color:rgba(255, 255, 255, 0.2) ;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
}
.team-image div{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  height: 280px;
  width: 100%;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.team-image-1{
  background-image: url(../images/trainer1.png);
}
.team-image-2{
  background-image: url(../images/trainer2.png);
}
.team-image-3{
  background-image: url(../images/trainer3.png);
}
.team-image-4{
  background-image: url(../images/trainer4.png);
}
.team-image-5{
  background-image: url(../images/trainer5.png);
}
.team-image-6{
  background-image: url(../images/trainer6.png);
}
.team-image h2{
  font-size: 20px;
  height: 0px;
  margin-left: 20px;
}
.team-image p{
  font-size: 14px;
  font-weight: 600;
  margin-left: 20px;
}
/* our-class-section */
.our-class-container{
  text-align: center;
  width: 50%;
  margin: 100px auto;
}
.our-class-container h2{
  height: 40px;
}
.our-class-content{
  display: flex;
  gap: 30px;
}
.our-class-card{
  background-color: rgba(255, 255, 255, 0.2) ;
  width: 100%;
  padding: 30px;
  border-radius: 12px;
}
.our-class-card img{
  width: 100%;
  height: 40%;
  border-radius: 12px;
}
.our-class-card h2{
  font-size: 28px;
  height: 20px;
}
.our-class-card p{
  line-height: 18px;
  height: 60px;
}
.our-class-card button{
  width: 60%;
}
.class-icon{
  font-size: 40px;
  margin-top: 20px;
  height: 40px;
}
/* style-footer-section */
.footer-section{
  margin-top: 100px;
  height: 100%;
  background-color:  rgb(34, 34, 34) ;
}
.footer-container{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.logo-content{
  width:36%;
}
.logo-content h2{
  font-size: 74px;
  font-weight: 700;
  height: 50px;
}
.footer-description p{
  font-size: 22px;
}
.footer-description{
  margin-top: 50px;
}
.footer-description h2{
  font-size: 28px;
}
.footer-end-section{
  text-align: center;
  width: 80%;
  margin: 0 auto;
  height: 90px;
  margin-top: 80px;
}
.footer-end-section p{
  margin-top: 35px;
}
.footer-end-section hr{
  border: 1px solid rgba(255, 255, 255, 0.1);
}


/* responsive-media */
@media screen and (max-width:576px) {
  .banner-section,
  .habits-image,
  .run-easily-section,
  .calculater-info,
  .our-class-content,
  .footer-container
  {
    flex-direction: column;
  }
  .our-team-images{
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
  }
  .calculate-form{
    grid-template-areas: 
    "input1 input2"
    "input3 select1"
    "select2 select2"
    ;
  }
  .banner-container p,
  .habis-container p,
  .run-easily-container p, 
  .our-class-container p,
  .our-team-container p{
    width: 100%;
  }
  .banner-container h2,
  .run-easily-container h2,
  .calculater-container h2,
  .our-class-container h2,
  .our-team-container h2{
    font-size: 36px;
  }
  .habis-container h2,
  .our-class-card h2,
  .bmi-chart h2, 
  .calculate-bmi h2{
    font-size:24px;
  }
  .container{
    width:90%;
  }
/* responsive-nav-section */
  .nav-ber-content{
    display: none;
  }
  .bar-icon{
    display: block;
    font-size: 24px;
  }
  .logo{
    margin-left: -20px;
  }
 /* responsive-banner-section */
  .banner-container{
    margin-top: -50px;
  }
  .banner-container h2{
    line-height: 50px;
    height: 150px;
  }
  .banner-container button{
    width:46%;
    font-size: 16px;
  }
  #club{
  display: none;
  }
  .banner-image{
    width: 100%;
    height: 600px;
    margin-top: -50px;
  }
  .card-videos{
    width: 40% ;
    padding: 0px 10px;
    margin: 50px 180px;
    border: 1px solid rgba(255, 255, 255, 0.01);
  }
  .card-videos h2{
    font-size: 24px;
    height: 15px;
  }
  .card-videos2 h2{
    font-size: 18px;
    height: 15px;
  }
  .card-videos p, .card-videos2 p{
    font-size: 10px;
    width: 100px;
  }
  .card-videos2{
     max-width: 40% ;
    margin: 0 ;
    margin-top: 100px;
    margin-left: -10px;
  }
  .card-videos2 h1{
    width: 40px;
    height: 40px;
  }
  #cricle i{
    display: block;
    font-size:18px;
    margin: 12px 14px;
  }
  /* responsive-run-easily-section */
  .run-easily-container{
    margin-left: 0px;
  
  }
  .run-easily-container p{
    max-width: 100%;
  }
  .run-easily-container button{
    width: 100%;
    height: 60px;
  }
  .run-easily-section {
    width: 80%;
  }
  .run-easily-image img{
  height: 200px;
  margin-top: 50px;
  object-fit: cover;
  }
  /* responsive-calculate-section */
  .calculater-content{
    margin: 0px;
    width: 100%;
  }
  .table, th, td{
    font-size: 14px;
  }
  .calculater-info{
    margin: 0 auto;
  }
  .calculate-bmi{
    width: 100%;
  }
  .calculate-bmi input{
    width: 80%;
  }
  .calculate-form button{
    width: 110%;
  }
  /* resposive-our-class-section */
  .our-class-container{
    width: 90%;
  }
  .our-class-container p{
    width: 100%;
  }
  .our-class-content{
     width: 80%;
  }
  .our-class-card button{
    width: 100%;
    margin-top: 20px;
  }
  /* responsive-our-team-section */
  .our-team-container, .our-team-container h2, .our-team-container p{
    width: 100%;
  }
  .our-team-images{
    width: 90%;
  }
  .team-image div{
    height: 250px;
  }
  .team-image h2{
    font-size: 18px;
    font-weight: 400px;
    height: 0px;
  }
  
  /* resposive-footer-section */
  .logo-content{
    width: 100%;
  }
  .logo-content h2{
  margin-left: 0px;
  }
  
   
}